
Advanced Machine Learning Algorithms for Geological Carbon Storage Verification
===============================================================================

# Abstract


Ensuring environmental safety and public acceptance of Geologic Carbon Sequestration, a geoengineering means of mitigating carbon dioxide CO2) emissions from coal-fired power plants and other industrial sources, requires cost-effective tools for Monitoring, Verification, and Accounting to detect unintended CO2 migration from storage reservoirs and injector wellbores. Identifying leaks is challenging because they are difficult to distinguish from the varying natural ambient CO2. This proposed project will automate processing of long-term data to recognize signatures of slow seepage of CO2 and CH4 from Geologic Carbon Sequestration sites. We will apply data-driven advanced Machine Learning algorithms to process information provided by sensors that continuously monitor the surface and subsurface. Both CO2 and CH4 may be emitted in leak events, especially when the storage formation has been or is being used for oil production. However, the normal temporal e.g. diurnal) and spatial variation of CO2 and CH4 concentration present in the natural ambient environment may exceed the magnitude of local concentration increase during a leak event. In previous work, we developed reliable, sensitive, cost- effective laser-based gas monitoring sensors that have been installed at both carbon sequestration and natural gas facilities to continuously and autonomously monitor near-surface concentrations of CO2 and CH4. Field data acquired with these sensors reveal that leak plumes create distinct anomalies in the concentration temporal statistics, yielding statistical features that are distinguishable from natural background variations. In Phase I, machine learning analytics software will be provided data acquired at a controlled test site by our existing shallow in-ground or open-path sensors. We will exercise the analytical software and demonstrate the machine learning algorithm’s ability to continually learn to recognize statistically normal signals from natural CO2 and CH4 variations and discern abnormalities resulting from leakage. Phase I also includes tasks to prepare for extended installation and testing of a multi-sensor intelligent monitoring system at an operating sequestration site during Phase II. The sensing tools and algorithmic data-processing engines advanced by this project will support: a) ongoing sequestration research projects; and b) active natural gas industry initiatives to reduce methane emissions. They will reduce the cost of leak surveying and verification of site integrity. There will also be commercial benefits, in the form of sensor sales including laser sensors under development for deep-downhole monitoring of liquid or supercritical CO2 within or around the reservoir itself). The market potential exceeds $100M. Further, machine learning algorithms offer the potential for extension to other sensor types and applications, yielding enhanced sensitivities and commercially competitive advantages.  

# Award Details

|Branch|Award Year|Award Amount|Keywords|
| :---: | :---: | :---: | :---: |
||2020|$199,981||
  
  


[Back to Home](https://github.com/chrischow/dod_sbir_awards/CC/#810)